body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(3marcela-laskoski.jpg) no-repeat;
  background-size: cover;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #f535aa;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #f535aa;
  transition: 0.25s;
}

.textbox:hover {
  border-bottom: 2px solid #ff85fa;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn {
  width: 100%;
  background: none;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 32px 0;
  transition: 0.25s;
}
.btn:hover {
  width: 50%;
  margin-left: 25%;
  background: #ff85fa;
}
